<section class="hero">
    <div class="hero-content">
        <h1>SERVICIO DE <span>CÁLCULO</span></h1>
        <p>Aumenta tu conocimiento y realiza cálculos precisos con nuestras calculadoras diseñadas para diversas carreras. Esta plataforma te ofrece herramientas intuitivas que simplifican tus estudios y ayudan a resolver problemas específicos de tu campo. ¡Explora y potencia tu aprendizaje de manera efectiva!</p>
    </div>
    <div class="hero-image">
        <img style="height: 250px;" src="/assets/image.png" alt="Calculadora">
    </div>
</section>

<section class="services">
    <h2>SERVICIO DE CALCULOS</h2>
    <div class="service-cards">
        <div class="card">
            <img src="/assets/img3.jpg" alt="Higiene y seguridad">
            <h3>Higiene y seguridad</h3>
            <button class="btn-ir" (click)="navegarASeguridad()">Ir a Seguridad e Higiene</button>
        </div>
        <div class="card">
            <img src="/assets/img4.jpg" alt="Construcción">
            <h3>Construcción</h3>
            <button class="btn-ir" (click)="navegarASeguridad()">Ir a Seguridad e Higiene</button>
        </div>
        <div class="card">
            <img src="/assets/img5.jpg" alt="Ingeniería">
            <h3>Ingeniería</h3>
            <button class="btn-ir" (click)="navegarASeguridad()">Ir a Seguridad e Higiene</button>
        </div>
        <div class="card">
            <img src="/assets/img2.jpg" alt="Industria">
            <h3>Enfermeria</h3>
            <button class="btn-ir" (click)="navegarASeguridad()">Ir a Seguridad e Higiene</button>
        </div>
    </div>
</section>

<section class="technology">
    <div class="tech-content">
        <h2>USO DE LA <span>TECNOLOGÍA</span> PARA MEJORAR EL APRENDIZAJE</h2>
        <ul>
            <li>Aprendizaje Autónomo</li>
            <li>Cálculos Precisos</li>
            <li>Información Garantizada</li>
        </ul>
    </div>
    <div class="tech-image">
        <img style="height: 200px;" src="/assets/calculadora.png" alt="Tecnología">
    </div>
</section>