/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px; /* Reducido el padding para menos espacio */
    background: rgb(0, 65, 112);
    color: #fff;
    flex-direction: column;
}

.hero-content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Reducido el margen inferior */
}

.hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px; /* Reducido el margen inferior */
}

.hero-content h1 span {
    color: #ffd700;
}

.hero-content p {
    font-size: 1rem;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Services Section */
.services {
    padding: 2rem 5%; /* Reducido el padding para menos espacio */
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 2rem; /* Reducido el margen inferior */
    color: var(--primary-color);
}

.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin: 0 auto 10px; /* Reducido el margen inferior */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.card .btn-ir {
    margin: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: var(--accent-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.card .btn-ir:hover {
    background-color: darkorange;
}

/* Technology Section */
.technology {
    display: flex;
    align-items: center;
    padding: 30px 20px; /* Reducido el padding para menos espacio */
    background: #fff5e1;
    color: #333;
    flex-direction: column;
}

.technology .tech-content {
    flex: 1;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px; /* Reducido el margen inferior */
}

.technology h2 {
    font-size: 2rem;
    margin-bottom: 15px; /* Reducido el margen inferior */
    color: #444;
}

.technology h2 span {
    color: #ff5733;
}

.technology ul {
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Reducido el margen superior */
}

.technology ul li {
    font-size: 1rem;
    margin-bottom: 5px; /* Reducido el margen inferior */
}

.technology .tech-image {
    flex: 1;
    text-align: center;
}

.technology .tech-image img {
    max-width: 100%;
    height: auto;
}

/* Media Queries para mejorar la responsividad */
@media (min-width: 768px) {
    .hero, .technology {
        flex-direction: row;
    }

    .hero-content, .technology .tech-content {
        max-width: 50%;
        text-align: left;
        margin-right: 10px; /* Reducido el margen derecho */
    }

    .hero-image, .technology .tech-image {
        max-width: 50%;
    }

    .services {
        margin-bottom: 30px; /* Reducido el margen inferior */
    }
}