<section class="hero">
  <div class="hero-content">
      <h1>SERVICIO DE <span>CÁLCULO</span></h1>
      <p>Aumenta tu conocimiento y realiza cálculos precisos con nuestras calculadoras diseñadas para diversas carreras. Esta plataforma te ofrece herramientas intuitivas que simplifican tus estudios y ayudan a resolver problemas específicos de tu campo. ¡Explora y potencia tu aprendizaje de manera efectiva!</p>
  </div>
  <div class="hero-image">
      <img style="height: 250px;" src="/assets/image.png" alt="Calculadora">
  </div>
</section>

<section class="services fade-in-section">
  <h2>SERVICIO DE CÁLCULOS</h2>
  <div class="service-cards">
      <div class="card">
          <img src="/assets/img3.jpg" alt="Industria y seguridad">
          <h3>Seguridad Industrial</h3>
          <button class="btn-ir" (click)="navegarASeguridad()">Ir a Seguridad Industrial</button>
      </div>
  </div>
</section>

<section class="technology fade-in-section">
  <div class="tech-content">
      <h2>USO DE LA <span>TECNOLOGÍA</span> PARA MEJORAR EL APRENDIZAJE</h2>
      <ul>
          <li class="autonomous-learning"><strong>Aprendizaje Autónomo</strong><p class="item-description">Desarrolla habilidades a tu propio ritmo con herramientas que se adaptan a tus necesidades.</p></li>
          <li class="precise-calcs"> <strong>Cálculos Precisos</strong><p class="item-description">Obtén resultados exactos para tus problemas técnicos con nuestras calculadoras especializadas.</p></li>
          <li class="guaranteed-info"><strong>Información Garantizada</strong><p class="item-description">Accede a datos verificados y métodos probados por expertos en cada disciplina.</p></li>
      </ul>
  </div>
  <div class="tech-image">
      <img style="height: 200px;" src="/assets/calculadora.png" alt="Tecnología">
  </div>
</section>
